@import "../../../../styles/sass/lib/variables";
@import "../../../../styles/sass/lib/mixings";


.gt-section {
  margin-bottom: 0;

  .facilities {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .facilities-wrapper {
      color: white;
      padding: 2rem;
      position: relative;
      min-height: 100vh;

      .table-title {
        color: black;
        background-color: $color-primary;
      }

      .facilities-sort-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        img {
          height: 30px;
          width: 30px;
          margin-right: 0.5rem;
        }
        select.form-control {
          background-color: $color-secondary;
          width: 250px;
        }
      }
      .facilities-pipe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        img {
          height: 30px;
          width: 30px;
          margin-right: 0.5rem;
        }
        input.form-control {
          background-color: $color-secondary;
          width: 250px;
        }
      }
      .facilities-add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }

      .facilities-table {
        background-color: $color-terciary;
        color: white;

        .facility {
          background-color: $color-secondary;
          color: black;
        }
      }
    }
  }
}