<section class="gt-section gt-section--fullHeightWidthScrolleable">
    <section class="gt-section gt-section--fullHeight">
    
        <!-- <div class="container aboutUs-wrapper">
    
            <div class="aboutUs-guacamaya" [ngClass]="{'transitionLeft': visionActive, 'transitionRight': missionActive}">
                <img src="../../../../assets/img/contact/guaca.png">
            </div>
    
            <div class="row">
    
                <div class="col-6">
                    <div class="aboutUs-box" (click)="activateVision()"
                    [ngClass]="{'isActive': visionActive}">
    
                        <span class="aboutUs-box-title">Visión</span>
                        <span class="aboutUs-box-info">Esta es la info de la visión</span>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="aboutUs-box" (click)="activateMission()"
                    [ngClass]="{'isActive': missionActive}">
                        <span class="aboutUs-box-title">Misión</span>
                        <span class="aboutUs-box-info">Esta es la info de la misión</span>
                    </div>
                </div>
    
    
            </div>
    
        </div> -->
    
    
        <div class=" container aboutUs-box-wrapper">
            <div class="row aboutUs-wrapper">
                <div class="col-12 col-lg-6 aboutUs-box" (click)="activateVision()" [ngClass]="{'isActive': visionActive}">
                    <span class="aboutUs-box-title">Visión</span>
                    <span class="aboutUs-box-info">Llegar ser una Agencia de Viajes reconocida en nuestra región, por la
                        confianza y seguridad que le ofrecemos a nuestros clientes, presentando innovadores servicios y
                        asegurando una actividad turística estable, promoviendo un ambiente de buenas relaciones y
                        obteniendo la mayor satisfacción de nuestros clientes.</span>
                </div>
                <div class="aboutUs-guacamaya" *ngIf="screen==='normal'"
                    [ngClass]="{'transitionLeft': visionActive, 'transitionRight': missionActive}">
                    <img src="../../../../assets/img/contact/guaca.png">
                </div>
                <div class="col-12 col-lg-6 aboutUs-box" (click)="activateMission()" [ngClass]="{'isActive': missionActive}">
                    <span class="aboutUs-box-title">Misión</span>
                    <span class="aboutUs-box-info">Ofrecer un servicio personalizado de calidad y confiabilidad, a través de
                        la buena atención de nuestro personal debidamente capacitado, diseñando viajes únicos, a precios
                        accesibles, logrando superar las expectativas de nuestros clientes.</span>
                </div>
            </div>
        </div>
    </section>
</section>