<section class="gt-section gt-section--fullHeight">
    <div class="journey-box-wrapper">
        <div class="journey-wrapper">
            <div class="journey-guacamaya">
                <img src="../../../../assets/img/contact/guaca.png">
            </div>
            <div class="journey-box-text">
                <span>¿Quiéres chequear tu itinerario?</span>
                <div class="journey-form-box">
                    <label for="journeyLocator">Introduce tu localizador:</label>
                    <input type="text" class="journey-form" placeholder="Ej: AA4523" 
                    [(ngModel)]="locator"  (ngModelChange)="locator = $event.toUpperCase()">
                </div>
            </div>
            <button class="btn gt-btn gt-btn--primary">
                Siguiente
            </button>
        </div>
    </div>
</section>

