<section class="gt-section gt-section--fullHeight verifier" [ngClass]="{'dontShow': correctLocator}">
    

    <div class="container journey-wrapper">

        <div class="journey-guacamaya" *ngIf="screen==='normal'">
            <img src="../../../../assets/img/contact/guaca.png">
        </div>


        <div class="row">
            <div class="col-12 journey-box-text">
                <span>¿Quiéres chequear tu itinerario?</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 journey-box-text">

                    <div class="row journey-box-text">
                        <div class="col-12">
                            <label for="journeyLocator">Introduce tu localizador:</label>
                        </div>
                        
                        <div class="col-12">
                            <div class="destination-pipe-wrapper">
                                <input type="text" class="journey-form" placeholder="Ej: AA4523" 
                                [(ngModel)]="locator" (ngModelChange)="locator = $event.toUpperCase()">
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn gt-btn gt-btn--primary" (click)="nextPage()">
                                Siguiente
                            </button>
                        </div>
                        
                    </div>
            </div>
        </div>

    </div>

</section>






<section class="gt-section gt-section--heightAuto info-reserva" [ngClass]="{'show': correctLocator}" >

    
    <div class="texto-localizador">
        <!-- localidor -->
        <span><strong>Localizador: AA1235</strong></span>
    </div>

            <div class="container-fluid contenedor-principal">

                <div class="row">

                    
                    <div class="col-lg-4 col-12">

                        <div class="row justify-content-between">

                            <div class="col-4">
                                <!-- imagen de la reserva (el hotel) -->
                                <div class="image"> <img src="../../../../assets/img/hotels/sunsol-1.png" width="120px"></div>
                            </div>

                            <div class="col-7">
                                <div class="info">                            
                                    
                                    <!-- titulo del hotel de la reserva -->
                                    <span class="title">Sunsol</span> 
                                                        
                                    <div id="estrellas-hoteles">
                                                        
                                        <div>

                                            <img src="../../../../assets/img/staramarilla.png" *ngIf="estrella_amarilla_1">
                                            <img src="../../../../assets/img/staramarilla.png" *ngIf="estrella_amarilla_2">
                                            <img src="../../../../assets/img/staramarilla.png" *ngIf="estrella_amarilla_3">
                                            <img src="../../../../assets/img/staramarilla.png" *ngIf="estrella_amarilla_4">
                                            <img src="../../../../assets/img/staramarilla.png" *ngIf="estrella_amarilla_5">
                                                    
                                        </div>
                                                                
                                    </div>
                                    
                                    <!-- tipo de suite de la reserva -->
                                    <span>Suite de lujo</span> 
                                                    
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- segunda parte -->

                    <!-- <div class="separator"></div> -->

                    <div class="col-lg-2 col-md-3 col-sm-3 col-12">
                        <div class="entrada">
                            
                            <span class="menuprincipal-titulos"><strong>Entrada</strong></span>
                            <!-- dia de entrada -->
                            <span class="menuprincipal-titulos-negritas">15</span>
                            <!-- mes de entrada -->
                            <span class="menuprincipal-titulos">Septiembre</span>
                         </div>

                    </div>

                    <!-- tercera parte -->
                    <div class="col-lg-2 col-md-3 col-sm-3 col-12">
                        <div class="entrada">
                            <span class="menuprincipal-titulos"><strong>Salida</strong></span>
                            <!-- dia de salida -->
                            <span class="menuprincipal-titulos-negritas">30</span>
                            <!-- mes de salida -->
                            <span class="menuprincipal-titulos">Septiembre</span>
                        </div>
                    </div>

                    <!-- cuarta parte-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="entrada">
                            <span class="menuprincipal-titulos"><strong>Dias / Noches</strong></span>
                            <!-- diasy noches -->
                            <span class="menuprincipal-titulos-negritas">15 / 16</span>
                            <!-- cant adultos y ninos-->
                            <span class="menuprincipal-titulos">5 adultos, 3 niños</span>
                         </div>
                    </div>
                    


                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="separador-horizontal"></div>
                    </div>
                </div>

                <!-- segundo menu -->
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="menu-precios">
                            <div class="cosas-ordenadas">
                                <span class="titulo-precio">Orden total</span>
                
                                <div class="ordenes">
                                    <!-- todas las habitacioens pedidas en la reserva -->
                                    <span>3 habitaciones</span>
                                    <!-- esto lo puedes quitar si quieres -->
                                    <span>Todo incluido: no</span>
                                </div>
                                    
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="menu-precios">
                            <div class="precio-total">
                                <span class="titulo-precio">Precio</span>
                                <!-- precio en $ -->
                                <span class="titulo-precio">USD$ 356</span>
                                <!-- precio en Bs -->
                                <span>7.256.890 Bs.S</span>    
                            </div>
                        </div>
                        
                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="separador-horizontal"></div>
                    </div>
                </div>

                <!-- tercer menu -->

                <div class="row">

                    <div class="col-12">
                        <span class="titulo-huespedes">Huéspedes</span>
                    </div>

                </div>



                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        
                        <div class="row">
                            <div class="col-12 titulos-menu-container">
                                <span>Nombre y apellido</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 datos-container" *ngFor="let huesped of huespedes">
                                <span>Fernando Baladi</span>
                            </div>
                        </div>

                    </div>

                    <!-- 2 -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        
                        <div class="row">
                            <div class="col-12 titulos-menu-container">
                                <span>Edad</span>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12 datos-container" *ngFor="let huesped of arrayEjemplo.huespedes">
                                <span>{{huesped}}</span>
                            </div>
                        </div>
                        
                    </div>

                    <!-- 3 -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        
                        <div class="row">
                            <div class="col-12 titulos-menu-container">
                                <span>Identificación</span>
                            </div>
                        </div>
    
                        <div class="row">
                                <div class="col-12 datos-container" id="margen-tabla" *ngFor="let huesped of huespedes">
                                    <span>27.545.164</span>
                                </div>
                        </div>
                            
                    </div>

                </div>

            </div> 

</section>

















