<div class="gt-navbar">
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/business-center.png">
        <div class="navbar-icon-title">
           
        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/placeholder.png">
        <div class="navbar-icon-title">
            
        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/calendar.png">
        <div class="navbar-icon-title">

        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/business-center.png">
        <div class="navbar-icon-title">

        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/list.png">
        <div class="navbar-icon-title">

        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/telephone.png">
        <div class="navbar-icon-title">

        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/user.png">
        <div class="navbar-icon-title">

        </div>
    </div>
    
</div>