<div class="gt-navbar">
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/business-center.png">
        <div class="navbar-icon-title">
           <p>Hoteles</p>
        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/placeholder.png">
        <div class="navbar-icon-title">
            <p>Destinos</p>
        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/calendar.png">
        <div class="navbar-icon-title">
            <p>Planea tu viaje</p>
        </div>
    </div>
    <div class="logo">
        <img src="../../../assets/img/guaca logo.png">

    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/list.png">
        <div class="navbar-icon-title">
            <p>Itinerario</p>
        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/telephone.png">
        <div class="navbar-icon-title">
            <p>Contáctanos</p>
        </div>
    </div>
    <div class="gt-navbar-icon-wrapper">
        <img src="../../../assets/img/user.png">
        <div class="navbar-icon-title">
            <p>Conócenos</p>
        </div>
    </div>
    
</div>