@import "../../../../styles/sass/lib/variables";
@import "../../../../styles/sass/lib/mixings";
@import "../../../../styles/sass/components/tag";

.gt-section {
  margin-bottom: 0;

  .bookings {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .bookings-wrapper {
      color: white;
      padding: 2rem;
      position: relative;
      min-height: 100vh;

      .table-title {
        color: black;
        background-color: $color-primary;
      }

      .bookings-pipe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        img {
          height: 30px;
          width: 30px;
          margin-right: 0.5rem;
        }
        input.form-control {
          background-color: $color-secondary;
          width: 250px;
        }
      }

      .bookings-table {
        background-color: $color-terciary;

        .book {
          background-color: $color-secondary;
          color: black;
        }
      }
    }
  }
}
