
<section class="gt-section gt-section--heightAuto">
    <div class="filtration-menu">

        <div class="filtration-search">
            <img src="../../../assets/img/filter.png">
            <p >Filtrar por</p>
            <input type="text" [(ngModel)]="filter">
        </div>

        <div class="filtration-stars">
            <p style="text-align: center;">Stars</p>
        </div>

        <div class="filtration-cities">
            <img src="../../../assets/img/loupe.png">
            <input placeholder="Estado/Ciudad/Nombre">
        </div>
    </div>

    <p id="principal-title" style="margin-left: 10px; font-size: 30px;">Todos los hoteles</p>


    <div class="separator-line" [ngSwitch]="filter">
            <div *ngSwitchCase="'Nombre'">{{nameFunction()}}</div>
            <div *ngSwitchCase="'Estado'">{{stateFunction()}}</div>
            <div *ngSwitchCase="'Ciudad'">{{cityFunction()}}</div>
            <div *ngSwitchDefault>{{functionDefault()}}</div>
    </div>
</section>






<section class="gt-section gt-section--heightAuto">
    
    <div class="hotel-list">

        <div class="hotel" *ngFor="let hotel of hotels">

            <div class="hotel-content">
                <div class="image"> <img src="{{hotel.images[0]}}" width="90px" height="90px"> </div>

                <div class="info">
                    
                        <span class="title">{{hotel.name}}</span> 
                        <span>Estrellas...</span>
                        <span>{{hotel.state}}</span> 
                        <span>{{hotel.city}}</span> 
                    
                </div>
            
                <div class="separator"></div>
                
                <div class="price">
                    <p>Desde {{hotel.rooms[0].price}} USD por noche</p> 
                    
                    <div class="button-div">
                        <button id="button" (click)="funcionBoton(hotel.id)">Info</button>
                    </div>
                    
                </div>
            </div>

            <!--  Aqui va el menú -->
            






        </div>

    </div>


</section>







<section class="gt-section gt-section--heightAuto">
    <div class="hotel-list">

        <div class="hotel" *ngFor="let hotel of hotels">

            <div class="hotel-content">
                <div class="image"> <img src="{{hotel.images[0]}}" width="90px" height="90px"> </div>

                <div class="info">
                    
                        <p class="title">{{hotel.name}}</p> 
                        <p>Estrellas...</p>
                        <p>{{hotel.state}}</p> 
                        <p>{{hotel.city}}</p> 
                    
                </div>
            
                <div class="separator"></div>
                
                <div class="price">
                    <p>Desde {{hotel.rooms[0].price}} USD por noche</p> 
                    
                    <div class="button-div">
                        <button id="button" (click)="funcionBoton(hotel.id)">Info</button>
                    </div>
                    
                </div>
            
            </div>
            
            
            <!-- Menu -->


            <div id="menuGeneral{{hotel.id}}" class="menu-general" >
                <div class="menuBar">
                    <div class="menu-elements" ><p (click)="clickGeneral(hotel.id)"> General</p></div>
                    <div class="menu-elements" ><p (click)="clickComodidades(hotel.id)">Comodidades</p></div>
                    <div class="menu-elements" ><p (click)="clickHabitaciones(hotel.id)">Habitaciones</p></div>
                    <div class="menu-elements" ><p (click)="clickPromociones(hotel.id)">Promociones</p></div>
                </div>

                <div class="titulo">
                    <img src="{{hotel.map}}">
                </div>

            </div>

            <div id="menuComodidades{{hotel.id}}" class="menu-comodidades">
                <div class="menuBar">
                    <div class="menu-elements" (click)="clickGeneral(hotel.id)">General</div>
                    <div class="menu-elements" (click)="clickComodidades(hotel.id)">Comodidades</div>
                    <div class="menu-elements" (click)="clickHabitaciones(hotel.id)">Habitaciones</div>
                    <div class="menu-elements" (click)="clickPromociones(hotel.id)">Promociones</div>
                </div>

                <div class="fotos">
                    <img src="{{hotel.images[0]}}">
                    <img src="{{hotel.images[1]}}">
                    <img src="{{hotel.images[2]}}">
                </div>

                <div class="iconos1">
                    <p>Piscina</p>
                    <p>Bar de hotel</p>
                    <p>Wifi (vestíbulo)</p>
                </div>

                <div class="iconos2">
                    <p>Lavandería</p>
                    <p>Restaurante</p>
                </div>

            </div>


            <div id="menuHabitaciones{{hotel.id}}" class="menu-habitaciones">
                <div class="menuBar">
                    <div class="menu-elements" (click)="clickGeneral(hotel.id)">General</div>
                    <div class="menu-elements" (click)="clickComodidades(hotel.id)">Comodidades</div>
                    <div class="menu-elements" (click)="clickHabitaciones(hotel.id)">Habitaciones</div>
                    <div class="menu-elements" (click)="clickPromociones(hotel.id)">Promociones</div>
                </div>

                <div class="habitaciones">
                    <img src="{{hotel.rooms[0].images[0]}}">
                    <img src="{{hotel.rooms[1].images[0]}}">
                </div>

            </div>

            <div id="menuPromociones{{hotel.id}}" class="menu-promociones">
                <div class="menuBar"> 
                    <div class="menu-elements" (click)="clickGeneral(hotel.id)">General</div>
                    <div class="menu-elements" (click)="clickComodidades(hotel.id)">Comodidades</div>
                    <div class="menu-elements" (click)="clickHabitaciones(hotel.id)">Habitaciones</div>
                    <div class="menu-elements" (click)="clickPromociones(hotel.id)">Promociones</div>
                </div>
                <div class="promociones-grid">
                    <img src="{{hotel.images[0]}}">
                    <div class="promociones-info">
                        <p class="promo1">Ahorra hasta un</p>
                        <p class="promo2">40%</p>
                        <p class="promo3">Con nuestra promoción de 2x1 ahorraras hasta un 40% de descuento del costo final</p>
                    </div>
                </div>
        
            </div>
            

            <div class="bottom-line"></div>
        </div>
    </div>
</section>
