<section class="gt-section gt-section--heightAuto">    

                <div class="container menu-container" [style.display]="displayListaHoteles ? 'block' : 'none'">
                                    
                    <div class="row justify-content-between">
                            
                            
                        <div class="col-12 col-md-4 col-lg-4">
                                <div class="destination-sort-wrapper">
                                    <img src="../../../../assets/img/filter.png">
                                    <select [(ngModel)]="optionSort" class="form-control">
                                        <option selected value=''> Ordenar por: </option>
                                        <option value="1"> Nombre </option>
                                        <option value="2"> Estado </option>
                                    </select>
                                </div>
                        </div>
                
                
                        <div class="col-lg-4 col-md-4 col-sm-6 align-self-center filtration-stars">
                                    <div class="row justify-content-between">
                
                                            <div class="col-lg-2 col-md-2 col-sm-1 col-1 estrellas-columnas">
                                                    <img id="estrella-blanca1" src="../../../../assets/img/starblanca.png"
                                                    [style.display]="blanca1 ? 'block' : 'none'" (click)="estrellaBlanca1()">
                                                    <img id="estrella-amarilla1" src="../../../../assets/img/staramarilla.png"
                                                    [style.display]="amarilla1 ? 'block' : 'none'"
                                                    (click)="estrellaAmarilla1()">
                                            </div>
                    
                                             <div class="col-lg-2 col-md-2 col-sm-1 col-1 estrellas-columnas">
                                                <img id="estrella-blanca2" src="../../../../assets/img/starblanca.png"
                                                    [style.display]="blanca2 ? 'block' : 'none'" (click)="estrellaBlanca2()">
                                                    <img id="estrella-amarilla2" src="../../../../assets/img/staramarilla.png"
                                                        [style.display]="amarilla2 ? 'block' : 'none'"
                                                        (click)="estrellaAmarilla2()">
                                            </div>
                    
                                                    <div class="col-lg-2 col-md-2 col-sm-1 col-1 estrellas-columnas">
                                                        <img id="estrella-blanca3" src="../../../../assets/img/starblanca.png"
                                                            [style.display]="blanca3 ? 'block' : 'none'" (click)="estrellaBlanca3()">
                                                        <img id="estrella-amarilla3" src="../../../../assets/img/staramarilla.png"
                                                            [style.display]="amarilla3 ? 'block' : 'none'"
                                                            (click)="estrellaAmarilla3()">
                                                    </div>
                    
                                                    <div class="col-lg-2 col-md-2 col-sm-1 col-1 estrellas-columnas">
                                                        <img id="estrella-blanca4" src="../../../../assets/img/starblanca.png"
                                                            [style.display]="blanca4 ? 'block' : 'none'" (click)="estrellaBlanca4()">
                                                        <img id="estrella-amarilla4" src="../../../../assets/img/staramarilla.png"
                                                            [style.display]="amarilla4 ? 'block' : 'none'"
                                                            (click)="estrellaAmarilla4()">
                                                    </div>
                
                                                    <div class="col-lg-2 col-md-2 col-sm-1 col-1 estrellas-columnas">
                                                        <img id="estrella-blanca5" src="../../../../assets/img/starblanca.png"
                                                            [style.display]="blanca5 ? 'block' : 'none'" (click)="estrellaBlanca5()">
                                                        <img id="estrella-amarilla5" src="../../../../assets/img/staramarilla.png"
                                                            [style.display]="amarilla5 ? 'block' : 'none'"
                                                            (click)="estrellaAmarilla5()">
                                                    </div>
                                                </div>
                                            </div>
                
                    
                                            <div class="col-12 col-md-4 col-lg-4">
                                                <div class=" destination-pipe-wrapper">
                                                    <img src="../../../../assets/img/loupe.png">
                                                    <input class="form-control" placeholder="Nombre/Estado/Ciudad"
                                                        [(ngModel)]="search" />
                                                    <!-- <input class="form-control" placeholder="Nombre/Estado" [(ngModel)]="searchName"  /> -->
                                                </div>
                                            </div>
                                            
                                        
                                    
                            </div>
                                
                            
                                </div>
                            
                            </section>
                            
                            
                            
                            <p id="principal-title" style="margin-left: 10px; font-size: 30px;" *ngIf="steps.step_one">Todos los
                                    hoteles</p>
                
                                <!-- <div class="separator-line" [ngSwitch]="filter" [style.display]="displayListaHoteles ? 'block' : 'none'"> -->
                                <div class="separator-line" [ngSwitch]="filter" *ngIf="steps.step_one">
                                    <div *ngSwitchCase="'Nombre'">{{nameFunction()}}</div>
                                    <div *ngSwitchCase="'Estado'">{{stateFunction()}}</div>
                                    <div *ngSwitchDefault>{{functionDefault()}}</div>
                                    <div *ngSwitchCase="'Ciudad'">{{cityFunction()}}</div>
                                </div>
                            
                            
                            
                            <!-- ACA EMPIEZA LA LISTA DE HOTELES -->
                            
                            <section class="gt-section gt-section--heightAuto" *ngIf="steps.step_one">
                            
                                <div class="container-fluid" *ngFor="let localHotel of hotels">
                            
                                    <div class="row align-items-center justify-content-between" >
                            
                                        <div class="col-12 col-md-6  align-self-center">
                            
                                                <div class="destination-img-box">
                                                    <!-- <img src="{{hotel.images[0]}}"> -->
                                                    <img src="{{localHotel.images[0]}}" class="img-fluid imagen-hotel" alt="Responsive image">
                                                </div>
                                            
                                        </div>
                            
                                        <div class="col-12 col-lg-2 col-sm-12 col-md-3 informacion-general">
                                                
                                                <div>
                                                    <span class="title">{{localHotel.name}}</span> 
                                                            
                                                        <div id="estrellas-hoteles">
                                                                
                                                                <div>
                                                                    <img src="../../../../assets/img/staramarilla.png"
                                                                        *ngIf="estrella_amarilla_1">
                                                                    <img src="../../../../assets/img/staramarilla.png"
                                                                        *ngIf="estrella_amarilla_2">
                                                                    <img src="../../../../assets/img/staramarilla.png"
                                                                        *ngIf="estrella_amarilla_3">
                                                                    <img src="../../../../assets/img/staramarilla.png"
                                                                        *ngIf="estrella_amarilla_4">
                                                                    <img src="../../../../assets/img/staramarilla.png"
                                                                        *ngIf="estrella_amarilla_5">
                                                                </div>    
                            
                                                        </div>
                                                            
                                                        <div><span class="titulo-descripcion-hoteles">{{localHotel.state}}</span> </div>
                                                        <div><span class="titulo-descripcion-hoteles">{{localHotel.city}}</span> </div>
                                                        
                                                </div>
                                        </div>
                            
                                        <div class="col-12 col-lg-2 col-md-3 col-sm-12">
                                            <div class="separator"></div>
                                            
                                            <div class="price">
                                                <p>Desde {{localHotel.rooms[0].price}} USD por noche</p> 
                                                
                                                <div class="button-div">
                                                    <button id="button" (click)="funcionInfoBoton()" >Info</button>
                                                </div>
                                                
                                            </div>
                                        </div>
                            
                            
                                    </div>
                            
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row separator-line-hoteles"></div>
                                        </div>
                                    </div>
                                    
                            
                            
                                </div>
                            
                            </section>
                            
                            
                            
                            <!-- menu de los hoteles -->
                            <section class="gt-section gt-section--fullWidth" [style.display]="displayListaHoteles ? 'none' : 'block'">
                            
                                    <div class="boton-flotante" (click)="goBack()" [style.display]="displayListaHoteles ? 'none' : 'block'">
                                        <img src="../../../../assets/img/arrow.png">
                                    </div>
                                    
                            
                                    <div class="container-fluid">
                            
                                        <div class="row">
                                            <div class="col-12">
                                                <img src="../../../../assets/img/hola.jpg" class="img-fluid principal-image" alt="Responsive image">
                                            </div>
                                        </div>
                                        
                                        <div class="row row-menu-bar justify-content-around align-items-center">
                            
                                            <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                                                <div class="menu-elements" (click)="clickGeneral()" [style.border-bottom-style]="general ? 'solid' : 'none'">General</div>    
                                            </div>
                            
                                            <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                                                <div class="menu-elements" (click)="clickComodidades()" [style.border-bottom-style]="comodidades ? 'solid' : 'none'">Comodidades</div>
                                            </div>
                            
                                            <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                                                <div class="menu-elements" (click)="clickHabitaciones()" [style.border-bottom-style]="habitaciones ? 'solid' : 'none'">Habitaciones</div>
                                            </div>
                            
                                        </div>
                                    </div>
                            
                            
                            
                                    <!-- menu general -->
                                    <div class="container-fluid container-general" [style.display]="general ? 'block' : 'none'">
                            
                                        <div class="row justify-content-between align-items-center">
                            
                                            <div class="col-12 mapa">
                                                <!-- <img src="../../../../assets/img/hotels/sunsol-1.png" id="imagen-mapa" class="img-fluid secondary-image" alt="Responsive image" > -->
                                                <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sunsol&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com">whatismyip-address.com</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                                            </div>
                            
                                            <div class="col-12 col-titulo-menuGeneral">
                                                <span>Sunsol</span>
                                            </div>
                            
                                            <div class="col-12 col-descripcion-menuGeneral">
                                                <span>El hotel ... ofrece, como muchos otros hoteles, esa sensación hogareña inigualable. La diferencia es que nuestro hotel, no sólo te hará sentir en casa, también te trataremos como una familia. Cuidando la delicada generosidad y ofreciéndote todas las actividades que te encantarían tener en casa. Sin faltar, piscina, bar, restaurante y lavandería, también te ofreceremos servicios como gimnasio gratuito y sauna privado. Si no estás contento con ello, también te ofreceremos el mejor servicio a la habitación que puedas probar. Y recuerda, no hay lugar como nuestro hogar</span>
                                            </div>
                            
                                            <div class="col-12 col-contacto-menuGeneral">
                                                <span>Contacto</span>
                                            </div>
                            
                                            <div class="col-12 col-descripcion-menuGeneral">
                                                <div><span>+58 414-2712045</span></div>
                                                <div><span>+58 424-2315678</span></div>
                                            </div>
                                        
                                        </div>
                            
                                    </div>
                            
                            
                                    <!-- menu comodidades -->
                                    <div class="container-fluid" [style.display]="comodidades ? 'block' : 'none'">
                            
                                        <div class="row imagenes-comodidades">
                                            <carousel [itemsPerSlide]="itemsPerSlide"
                                                      [singleSlideOffset]="singleSlideOffset"
                                                      [noWrap]="!noWrap"
                                                      [interval]="false"
                                                      [startFromIndex]="1">
                            
                                                <slide *ngFor="let slide of slides; let index=index">
                                                    <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
                                                </slide>
                                            </carousel>
                            
                                        </div>
                            
                            
                                        <div class="row row-comodidades-menu justify-content-between align-items-center">
                            
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 iconos-comodidades">
                                                <img src="../../../../assets/img/swimming-silhouette.png">
                                                <span>Piscina</span>
                                            </div>
                            
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 iconos-comodidades">
                                                <img src="../../../../assets/img/aire.png">
                                                <span>Aire Acondicionado</span>
                                            </div>
                            
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 iconos-comodidades">
                                                <img src="../../../../assets/img/lavadora.png">
                                                <span>Lavadora</span>
                                            </div>
                            
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 iconos-comodidades">
                                                <img src="../../../../assets/img/contact/alcohol.png">
                                                <span>Bar</span>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 iconos-comodidades">
                                                <img src="../../../../assets/img/contact/restaurant.png">
                                                <span>Restaurante</span>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 iconos-comodidades">
                                                <img src="../../../../assets/img/contact/estacionamiento.png">
                                                <span>Estacionamiento</span>
                                            </div>
                                        
                                        </div>
                            
                            
                                        <!-- <div class="row row-comodidades-menu">
                                            <span (click)="mostrarModal()" class="mostrar-mas-comodidades">+ Mostrar mas comodidades</span>
                                        </div> -->
                            
                                    </div>
                            
                            
                                    <!-- menu habitaciones -->
                                    <div class="container-fluid" [style.display]="habitaciones ? 'block' : 'none'">
                            
                                        <div class="row row-menu-habitaciones">
                            
                                            <div class="col-lg-4 col-md-6 col-sm-12 suites-habitaciones">
                                                <div>
                                                <img class="img-fluid" alt="Responsive image" src="../../../../assets/img/contact/habitacion-suite-doble.jpg" (click)="mostrarModalHabitaciones()">
                                                </div>
                            
                                                <div>
                                                <span>Suite de lujo</span>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-4 col-md-6 col-sm-12 suites-habitaciones">
                                                <div>
                                                <img class="img-fluid" alt="Responsive image" src="../../../../assets/img/hotels/premium-king-1.jpg" (click)="mostrarModalHabitaciones()">
                                                </div>
                            
                                                <div>
                                                <span>Suite doble</span>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-4 col-md-6 col-sm-12 suites-habitaciones">
                                                <div>
                                                    <img class="img-fluid" alt="Responsive image" src="../../../../assets/img/contact/atico-suite-1024x640.jpg" (click)="mostrarModalHabitaciones()">
                                                </div>
                                
                                                <div>
                                                    <span>Suite matrimonial</span>
                                                </div>
                                            </div>
                            
                                        </div>
                            
                                    </div>
                            
                            
                            </section>
                            
                    
                            
                            
                            <!-- <!- Modal view  -- -->
                            <div [style.display]="verModal ? 'block' : 'none'" class="modal">
                                <div class="modal-content">
                                    <span (click)="modalClose()" class="close">&times;</span>
                                    <span class="modal-content-title">Todos los servicios</span>
                                    
                                    <div class="modal-content-container-grid">
                                            <div class="modal-content-instalaciones">
                                                    <span class="titulo-pequeno">Instalaciones y servicios</span>
                                                    
                                                    <div *ngFor="let comodidad of comodidadesMenu">
                                                        <span>-Mascotas Permitidas</span>
                                                    </div>
                                            </div>
                                        
                                            <div class="modal-content-equipamiento">
                                                    <span class="titulo-pequeno">Equipamiento de la habitación</span>
                                                    
                                                    <div *ngFor="let comodidad of comodidadesMenu">
                                                        <span>-Aire acondicionado</span>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            <!-- <!- Modal view - habitaciones -- -->
                            <div [style.display]="verModalHabitaciones ? 'block' : 'none'" class="modal">
                                    <div class="modal-content">
                                        <span (click)="modalCloseHabitaciones()" class="close">&times;</span>
                            
                            
                                        <div class="container">
                            
                                            <div class="row justify-content-between align-items-center">
                            
                                                <div class="col-12">
                                                    <span class="modal-content-title">Suite de lujo</span>
                                                </div>
                            
                                                <div class="col-12 imagenes-modal-habitaciones">
                                                    <carousel [itemsPerSlide]="itemsPerSlide"
                                                        [singleSlideOffset]="singleSlideOffset"
                                                        [noWrap]="!noWrap"
                                                        [interval]="false"
                                                        [startFromIndex]="1">
                                  
                                                        <slide *ngFor="let slide of slidesHabitaciones; let index=index">
                                                            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
                                                        </slide>
                                                    </carousel>
                                                </div>
                            
                            
                                                <div class="col-12">
                                                    <span class="modal-content-description">Descripción</span>
                                                </div>
                            
                            
                                                <div class="col-12 modal-content-description-text">
                                                    <span>La suite... es ideal para ti y tu familia. Con sus dos camas matrimoniales y baño privado, permitirán que cualquiera se sienta a gusto, permitiendo una gran sensación de confort y la idealización de un hogar para compartir</span>
                                                </div>
                            
                            
                                                <div class="col-12 modal-content-grid-boton-y-precio">
                                                    <div class="circulo-precio">
                                                        <div class="text-box">
                                                            <span>Por tan solo 150 USD por noche</span>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                            </div>
                            
                                        </div>
                            
                            
                                    </div>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            
                           