<section class="gt-section gt-section--full">
    <div class="hotels">
        <div class="container-fluid hotels-wrapper">
            <div class="side-bar-btn" (click)=toggleSideBar()>
                <img src="https://icon-library.net/images/navbar-icon/navbar-icon-2.jpg">
            </div>
            <div class="row hotels-pipes">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="hotels-sort-wrapper">
                        <img src="../../../../assets/img/filter.png">
                        <select [(ngModel)]="optionSort" class="form-control">
                            <option selected value='' disabled> Ordenar por: </option>
                            <option value="1"> Nombre </option>
                            <option value="3"> Estado </option>
                            <option value="4"> Ciudad </option>
                            <option value="2"> Status </option>
                            <option value="6"> Estrellas </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class=" hotels-pipe-wrapper">
                        <img src="../../../../assets/img/loupe.png">
                        <input class="form-control" placeholder="Nombre/Estado/Categoría/..." />
                        <!-- <input class="form-control" placeholder="Nombre/Estado/Categoría/..." [(ngModel)]="search"  /> -->
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class=" hotels-add-btn">
                        <button class="btn gt-btn gt-btn--secondary" type="menu" (click)="openModal()">
                            Añadir +
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class=" gt-tag-table">
                        <span>
                            Hoteles
                        </span>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table hotels-table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Status</th>
                            <th scope="col">Estrellas</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hotel" *ngFor="let hotel of hotels | generalSort: optionSort ">
                            <th scope="row">{{hotel.data.name}}</th>
                            <td>{{hotel.data.state.name}}</td>
                            <td>{{hotel.data.city.name}}</td>
                            <td>{{hotel.data.status?"Habilitado": "Deshabilitado"}}</td>
                            <td>{{hotel.data.stars}}</td>
                            <button class="btn gt-btn gt-btn--secondary" type="menu"
                                    (click)="openModal(hotel)">
                                    Editar
                            </button>
                        </tr>
                        <!-- cuando vayas a hacerlo con firebase descomenta lo de arriba 
                                        y donde estan los holi vas a colocar lo que le pasas (guiate de mi microproyecto)
                                    cualquier cosa me preguntas  -->
                        <!-- <tr class="hotel">
                            <th scope="row">fsa</th>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---edit" type="menu"
                                (click)="modifyInfo()">
                                Editar
                            </button>

                        </tr>
                        <tr class="hotel">
                            <th scope="row">fsa</th>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---edit" type="menu"
                                (click)="modifyInfo()">
                                Editar
                            </button>
                        </tr> -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>


<!-- comienzo del modal -->
<section class="overlay-modal-wrapper" [ngClass]="{'show': modalStatus|async}">
    <div class="overlay-modal" [ngClass]="{'show': modalStatus|async}">
    </div>
    <div class="modal-wrapper" [ngClass]="{'show': modalStatus|async}">
        <div class="gt-admin-modal">
            <div class="row">
                <div class="col-12 title">
                    <h1>
                        Hotel
                    </h1>
                </div>
            </div>
            <div class="row form form-box">
                <div class="col-12">
                    <form [formGroup]="hotelForm">
                        <div class="form-row">
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Nombre
                                </label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-6 col-md-3 form-group">
                                <label>
                                    Estrellas
                                </label>
                                <select formControlName="stars" class="form-control">
                                    <option selected value='' disabled> Seleccionar: </option>
                                    <option value="1"> 1 </option>
                                    <option value="2"> 2 </option>
                                    <option value="3"> 3 </option>
                                    <option value="4"> 4 </option>
                                    <option value="5"> 5 </option>
                                </select>
                            </div>
                            <div class="col-6 col-md-3 checkbox-wrapper">
                                <div class="col-12 col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="status">
                                        <label class="form-check-label" for="status">
                                            Habilitado
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Estado
                                </label>
                                <select formControlName="state" class="form-control">
                                    <option selected value='' disabled> Seleccione </option>
                                    <option *ngFor="let state of states | statusFilter | sortByName" [value]="state.id">
                                        {{state.data.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Ciudad
                                </label>
                                <select formControlName="city" class="form-control">
                                    <option selected value='' disabled> Seleccione </option>
                                    <option *ngFor="let city of cities | sortByName | statusFilter | citiesFilterByState" [value]="city.id">
                                        {{city.data.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Latitud
                                </label>
                                <input type="text" class="form-control" formControlName="lat">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Longitud
                                </label>
                                <input type="text" class="form-control" formControlName="lon">
                            </div>
                            <div class="col-12 form-group">
                                <label for="address">Dirección</label>
                                <textarea class="form-control" formControlName="address" rows="2"></textarea>
                            </div>
                            <div class="col-5 col-md-4 checkbox-wrapper">
                                <div class="col-12 col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" (change)="fullDayChange()"
                                            formControlName="fullDay">
                                        <label class="form-check-label" for="fullDay">
                                            Full Day
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 col-md-8 form-group">
                                <label>
                                    Costo por persona (solo si hay fullDay)
                                </label>
                                <input type="text" class="form-control" formControlName="fullDayPrice">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="service">Servicios del hotel</label>
                                <div class="multiselect-wrapper">
                                    <div *ngFor='let service of facilitiesHotel' class="multiselect-option">
                                        <div>
                                            <img [src]="service.active? 'https://img.icons8.com/metro/452/checked-checkbox.png':'http://icons.iconarchive.com/icons/icons8/windows-8/256/User-Interface-Unchecked-Checkbox-icon.png'"
                                                (click)="toggleService(service)">
                                        </div>
                                        <div>
                                            {{service.data.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 form-group">
                                <label for="imagePricipal">Imagen principal</label>
                                <div *ngIf="this.hotelForm.controls.mainImageURL.value">
                                    <img [src]=this.hotelForm.controls.mainImageURL.value>
                                </div>
                                <app-image-uploader
                                path="hotel" (res)="uploaderRes($event)"></app-image-uploader>
                            </div>
                            <div class="col-12 col-md-8 form-group">
                                <label for="imageAdditional">Imágenes adicionales </label>
                                <div class="multiadd-box">
                                    <div class="image-additional-box"
                                        *ngFor='let imageAdditional of imagesAdditionals; let i=index'>
                                        <img [src]="imageAdditional.imageAdditionalURL">
                                        <div class="close-btn" (click)="deleteImage(i)">
                                            X
                                        </div>
                                    </div>
                                </div>
                                <div class="input-box">
                                        <div *ngIf="this.hotelForm.controls.imageAdditionalURL.value">
                                                <img [src]=this.hotelForm.controls.imageAdditionalURL.value>
                                            </div>
                                    <app-image-uploader
                                path="hotel/images" (res)="uploaderRes2($event)"></app-image-uploader>
                                    <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---add"
                                        (click)="addImage()"> + </button>
                                </div>
                                <!-- <input type="file" class="form-control-file" formControlName="imageAdditional"> -->
                            </div>
                        </div>
                    </form>
                </div>

                <!-- comienzo de la segunda tabla (habitaciones) -->
                <div class="row">
                    <div class="col-12 ">
                        <div class=" gt-tag-table--secondary">
                            <span>
                                Habitaciones
                            </span>
                            <div class=" habs-add-btn">
                                <button class="btn gt-btn gt-btn--secondary" type="menu"
                                    (click)="openModal2()">
                                    Añadir +
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table habs-table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Vista</th>
                                <th scope="col">Max. personas</th>
                                <th scope="col">Status</th>
                                <!-- <th scope="col">¿Disponible?</th> -->
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hab" *ngFor="let hab of habs" >
                                            <th scope="row">{{hab.data.habName}}</th>
                                            <td>{{hab.data.habView}}</td>
                                            <td>{{hab.data.habCapacity}}</td>
                                            <td>{{hab.data.habStatus}}</td>
                                            <!-- <td>holi</td> -->
                                            <button class="btn gt-btn gt-btn--secondary" type="menu"
                                                    (click)="openModal2(hab)">
                                                    Editar
                                            </button>
                                        </tr>
                        </tbody>
                    </table>
                    <div class="col-12 buttons">
                        <button class="btn gt-btn gt-btn--secondary " type="submit" [disabled]="hotelForm.invalid"
                            (click)="saveChanges()">
                            Guardar
                        </button>
                        <button class="btn gt-btn gt-btn--secondary" type="button" (click)="toggleModalStatus()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- comienzo del segundo modal (habs)-->

<section class="overlay-modal-wrapper" [ngClass]="{'show': modalSecondaryStatus|async}">
    <div class="overlay-modal" [ngClass]="{'show': modalSecondaryStatus|async}">
    </div>
    <div class="modal-wrapper" [ngClass]="{'show': modalSecondaryStatus|async}">
        <div class="gt-admin-modal">
            <div class="row">
                <div class="col-12 title">
                    <h1>
                        Habitación
                    </h1>
                </div>
            </div>
            <div class="row form form-box">
                <div class="col-12">
                    <form [formGroup]="habForm">
                        <div class="form-row">
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Nombre
                                </label>
                                <input type="text" class="form-control" formControlName="habName">
                            </div>
                            <div class="col-6 col-md-3 form-group">
                                <label>
                                    Cant. de personas
                                </label>
                                <input type="text" class="form-control" formControlName="habCapacity">
                            </div>
                            <div class="col-6 col-md-3 checkbox-wrapper">
                                <div class="col-12 col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="habStatus">
                                        <label class="form-check-label" for="habStatus">
                                            Habilitada
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Tipo de Vista
                                </label>
                                <input type="text" class="form-control" formControlName="habView">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Precio por noche
                                </label>
                                <input type="text" class="form-control" formControlName="habPrice">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="facility">Comodidades</label>
                                <div class="multiselect-wrapper">
                                    <div *ngFor='let facility of facilitiesHabs' class="multiselect-option">
                                        <div>
                                            <img [src]="facility.active? 'https://img.icons8.com/metro/452/checked-checkbox.png':'http://icons.iconarchive.com/icons/icons8/windows-8/256/User-Interface-Unchecked-Checkbox-icon.png'"
                                                (click)="toggleFacility(facility)">
                                        </div>
                                        <div>
                                            {{facility.data.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 form-group">
                                <label for="imagePricipal">Imagen principal</label>
                                <div *ngIf="this.habForm.controls.imagePrincipalURL.value">
                                    <img [src]=this.habForm.controls.imagePrincipalURL.value>
                                </div>
                                <app-image-uploader
                                path="hotel/habs" (res)="uploaderRes3($event)"></app-image-uploader>
                            </div>
                            <div class="col-12 col-md-8 form-group">
                                <label for="imageAdditional">Imágenes adicionales </label>
                                <div class="multiadd-box">
                                    <div class="image-additional-box"
                                        *ngFor='let imageAdditional of imagesAdditionalsHabs; let i=index'>
                                        <img [src]="imageAdditional.imageAdditionalURL">
                                        <div class="close-btn" (click)="deleteHabImage(i)">
                                            X
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="input-box">
                                    <app-image-uploader
                                path="hotel/images" (res)="uploaderRes2($event)"></app-image-uploader>
                                    <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---add"
                                        (click)="addImage()"> + </button>
                                </div> -->
                                <div class="input-box">
                                        <div *ngIf="this.habForm.controls.imageAdditionalURL.value">
                                                <img [src]=this.habForm.controls.imageAdditionalURL.value>
                                        </div>
                                    <app-image-uploader
                                path="hotel/habs/images" (res)="uploaderRes4($event)"></app-image-uploader>
                                    <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---add"
                                        (click)="addHabImage()"> + </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 buttons">
                    <button class="btn gt-btn gt-btn--secondary " type="submit" [disabled]="this.habForm.invalid"
                        (click)="saveHabChanges()">
                        Guardar
                    </button>
                    <button class="btn gt-btn gt-btn--secondary" type="button" (click)="toggleModalSecondaryStatus()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>