@import "../../../../styles/sass/lib/variables";
@import "../../../../styles/sass/lib/mixings";
@import "../../../../styles/sass/components/tag";
@import "../../../../styles/sass/components/button";
@import "../../../../styles/sass/components/modal";

.gt-section {
  margin-bottom: 0;

  .hotels {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .hotels-wrapper {
      color: white;
      padding: 2rem;
      position: relative;
      min-height: 100vh;

      .table-title {
        color: black;
        background-color: $color-primary;
      }

      .hotels-sort-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        img {
          height: 30px;
          width: 30px;
          margin-right: 0.5rem;
        }
        select.form-control {
          background-color: $color-secondary;
          width: 250px;
        }
      }
      .hotels-pipe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        img {
          height: 30px;
          width: 30px;
          margin-right: 0.5rem;
        }
        input.form-control {
          background-color: $color-secondary;
          width: 250px;
        }
      }
      .hotels-add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }

      .hotels-table {
        background-color: $color-terciary;

        .hotel {
          background-color: $color-secondary;
          color: black;
        }
      }
    }
  }
}
.input-service-box{

    display: flex;
    justify-content: space-between;
}