@import "../../../styles/sass/lib/variables";

.filtration {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 1em;
    padding-top: 2em;
    grid-column-gap: 1em;
    font-family: $font-family-primary;
}

.filtration-name {
    align-self: start;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    height: 50px;
    align-items: center;
    justify-content: center;

}
.filtration-name p {
    margin-left: -18px;;
}
.filtration-name img {
    height: 30px;
    width: 30px;
}
.filtration-name input {
    height: 40px;
    background-color: $color-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    
}

.filtration-stars {
    display: grid;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.filtration-stars img {
    height: 30px;
    width: 30px;
    padding: 3px;
}

.filtration-cities {
    align-self: end;
    display: grid;
    grid-template-columns: 12% 80%;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.filtration-cities img {
    height: 30px;
    width: 30px;
}
.filtration-cities input {
    height: 40px;
    background-color: $color-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}

#titulo-principal {
    font-family: $font-family-primary;
}

.separatorLine {
    background-color: #62D2BE;
    height: 10px;
}


.hotelList {
    margin: auto;
    width: 55%;
    border: 1px solid #C1B6B6;
    margin-top: 10px;
    margin-bottom: 10px;
}


.bottomLine {
    background-color:#C1B6B6;
    height: 1px;
}


.content {
    display: grid;
    grid-template-columns: 22% 41% 1% 36%;
    height: 120px;
    max-height: 120px;
    background: $color-gradient;
}

.image {
    //height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info {
    padding: 0.5em;
    max-height: 120px;
    margin-left: 25px;
    line-height:5px;
    font-family: $font-family-primary;
}
.info  p {
    line-height: 7px;
    margin-top: 15px;
}


.separator {
    background-color: #C1B6B6;
    //height: 150px;
    width: 1px;
}

.price {
    display: grid;
    grid-template-rows: 60% 25%;
    justify-content: center;
    align-items: center;
    font-family: $font-family-primary;
}


#button{
    width: 80px;
    height: 35px;
    background-color: $button-color;
    font-family: $font-family-primary;
    font-size: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
   font-size: 20px;
}


.menuBar {
    background-color: $button-color;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: $font-family-primary;
}



#menuGeneral {
    height: 250px;
    display: none;
}

.titulo {
    background-color: white;
    height: 40px;
    font-family: $font-family-primary;
    padding-left: 15px;
}
.titulo p {
    font-size: 20px;
}

#menuComodidades {
    background: $color-gradient;
    height: 360px;
    display: none;
    font-family: $font-family-primary;
}

.fotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    padding-top: 1em;
    grid-column-gap: 1em;
    margin-left: 1em;
}
.fotos img {
    background-color: orange;
}

.iconos1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    grid-column-gap: 1em;
    margin-left: 1em;
    text-align: center;
}
.iconos2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-column-gap: 1em;
    margin-left: 1em;
    text-align: center;
}

#menuHabitaciones {
    background-color: white;
    height: 230px;
    display: none;
}

.habitaciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-column-gap: 1em;
    margin-left: 1em;
}
.habitaciones img {
    background-color: green;
    width: 300px;
    height: 150px;
}

#menuPromociones {
    background-color: red;
    height: 250px;
    display: none;
}

