

<div class="filtration">

    <div class="filtration-name">
        <img style="background-color: red; height: 50px; width: 50px;">
        <p >Filtrar por</p>
        <input placeholder="Ejemplo">
    </div>

    <div class="filtration-stars">
        <p style="text-align: center;">Stars</p>
    </div>

    <div class="filtration-cities">
        <img style="background-color: red; height: 50px; width: 50px;">
        <input placeholder="Estado/Ciudad/Nombre">
    </div>
</div>

<p style="margin-left: 10px; font-size: 30px;">Todos los hoteles</p>


<div class="separatorLine">
</div>


<div class="hotelList">

    <div class="hotel">
        <div class="content">
            <div class="image"> <img src="" width="90px" height="90px"> </div>

            <div class="info">
                
                    <p class="title">Sunsol</p> 
                    <p>Estrellas...</p>
                    <p>Nueva Esparta</p> 
                    <p>Margarita</p> 
                
            </div>
        
            <div class="separator"></div>
            
            <div class="price">
                <p>Desde 100 USD por noche</p> 
                <div class="buttonDiv">
                    <button id="button" (click)="funcionBoton()">Info</button>
                </div>
                
            </div>
        
        </div>
        


        <div id="menu">
            <div class="menuBar">
                <div class="menuElements">General</div>
                <div class="menuElements">Comodidades</div>
                <div class="menuElements">Habitaciones</div>
                <div class="menuElements">Promociones</div>
            </div>
        </div>

        <div class="bottomLine"></div>
    </div>


    <div class="hotel">
        <h3>aaaaaaaaaaaaaaa</h3>
        <p>HOLA QLQLQLLQLQLQLQLQLQLLQLQLQLQLQLLQLQLQLQ</p>
    </div>

    <div class="hotel">
        <h3>aaaaaaaaaaaaaaa</h3>
        <p>HOLA QLQLQLLQLQLQLQLQLQLLQLQLQLQLQLLQLQLQLQ</p>
    </div>

    <div class="hotel">
        <h3>aaaaaaaaaaaaaaa</h3>
        <p>HOLA QLQLQLLQLQLQLQLQLQLLQLQLQLQLQLLQLQLQLQ</p>
    </div>

</div>
