<section class="gt-section gt-section--fullHeightWidthScrolleable">
        <section class="gt-section gt-section--fullWidth">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 gt-tag-steps">
                                <div class="col-12 col-md-4 title">
                                    <span> Paso 3 </span>
                                </div>
                                <div class="col-12 col-8 subtitle">
                                    <span> Selecciona el hotel de tu preferencia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
