button.gt-btn{
    height: $btn-height;
    min-width: $btn-min-width;
    box-shadow: $button-shadow;
    font-size: 1rem;
    font-family: $font-family-primary;

    &.gt-btn--primary{
        background-color: $color-terciary;
    }
    &.gt-btn--secondary{
        background-color: $color-primary;
    }

}