button.gt-btn{
    height: $btn-height;
    min-width: $btn-min-width;
    box-shadow: $button-shadow;
    font-size: 1rem;
    font-family: $font-family-primary;
    color: white;
    text-align: center;

    &.gt-btn--primary{
        background-color: $color-terciary;

        &.gt-btn--primary---edit{
            min-width: 60px;
            margin-top: 0.3rem;
        }
        
    }
    &.gt-btn--secondary{
        background-color: $color-primary;

        &.gt-btn--secondary---edit{
            min-width: 60px;
            margin-top: 0.3rem;
        }

        &.gt-btn--secondary---add{
            min-width: 30px;
            margin-top: 0.3rem;
        }
    }

}