.gt-tag{

    height: $tag-height;
    min-width: $tag-min-width;
    background-color: $color-secondary;
    font-size: 2rem;
    font-family: $font-family-primary;
    box-shadow: $box-shadow;
    text-align: start;
    
    //alinean en y
    vertical-align: middle;
    line-height: $tag-height;  
    padding-left: 3rem;

    @include phone{
        text-align: center;
        padding-left: 0;
    }

}
.gt-tag-steps{

    max-width: 100%;
    background-color: $color-terciary;
    color: white;
    font-family: $font-family-primary;
    box-shadow: $box-shadow;
    text-align: start;
    margin-bottom: 1rem; 
    padding-left: 3rem;

    @include phone{
        text-align: center;
        padding-left: 0;
    }

    .title{
        font-size: 2rem;
    }
    .subtitle{
        // padding-left: 2rem;
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }

}

.gt-tag-table{
    
    min-width: 100%;
    background-color: $color-primary;
    font-size: 2rem;
    font-family: $font-family-primary;
    color: white;
    box-shadow: $box-shadow;
    text-align: start;
    margin-bottom: 1rem;
    padding-left: 3rem;

    @include phone{
        text-align: center;
        padding-left: 0;
    }
    // margin-left: 1rem;
    // margin-right: 1rem;
    // padding-left: 2rem;
}

.gt-tag-table--secondary{
    
    min-width: 100%;
    background-color: $color-terciary;
    font-size: 2rem;
    font-family: $font-family-primary;
    color: white;
    // box-shadow: $box-shadow;
    text-align: start;
    margin-bottom: 1rem;
    padding-left: 2rem;
    display: flex;
    

    @include phone{
        text-align: center;
        padding-left: 0;
    }

}