<section class="gt-section gt-section--fullHeight">
    
    <!-- <div class="contact-box-wrapper"> -->
    
        <div class="container-fluid contact-box-wrapper">
    
            <div class="row justify-content-between">
                <div class="col-8 gt-tag align-self-center">
                    <span>Contáctanos</span>       
                </div>
                
            </div>
            

            <div class="row justify-content-around">

                <div class="col-6">
                    <div class="contact-info-guaca">
                        <img src="../../../../assets/img/contact/guaca.png">
                    </div>
                </div>

                <div class="col-6">

                    <div class="row">
                        <div class="col-12">
                            <div class="contact-info-element">
                                <a href="https://www.instagram.com/guacamayatours/" target="_blank">
                                    <img src="../../../../assets/img/contact/instagram.png" class="img-fluid imagen-hotel" alt="Responsive image">
                                </a>
                                <span>@GuacamayaTours</span>
                            </div>
                        </div>
                    </div>
                            

                        <div class="row">
                            <div class="col-12">
                                <div class="contact-info-element">
                                    <a href="https://wa.me/584241320901" target="_blank">
                                        <img src="../../../../assets/img/contact/whatsapp.png">
                                    </a>
                                    <span>+58 (424) 159-6478</span>
                                </div>
                            </div>
                        </div>
                            

                        <div class="row">
                            <div class="col-12">
                                <div class="contact-info-element">
                                    <a href="mailto:guacatours@gmail.com" target="_blank">
                                        <img src="../../../../assets/img/contact/gmail.png">
                                    </a>
                                    <span>guacatours@gmail.com</span>
                                </div>
                            </div>
                        </div>
                            

                        <div class="row">
                            <div class="col-12">
                                <div class="contact-info-element">
                                    <a href="https://goo.gl/maps/encxM1aYdFpDu122A" target="_blank">
                                    <img src="../../../../assets/img/contact/placeholder.png">
                                    </a>
                                    <span>C.C. San ignacio</span>
                                </div>
                            </div>
                        </div>

                            

                        <div class="row">
                            <div class="col-12">
                                <div class="contact-info-element">
                                    <img src="../../../../assets/img/contact/old-telephone.png">
                                    <span>+58 (212) 958-6321</span>
                                </div>
                            </div>
                        </div>
                            
                </div>



            </div>
            


        </div>


    <!-- </div> -->
</section>
