<section class="gt-section gt-section--fullHeightWidthScrolleable">
    <section class="gt-section gt-section--fullWidth">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 gt-tag-steps">
                            <div class="col-12 col-md-4 title">
                                <span> Paso 2 </span>
                            </div>
                            <div class="col-12 col-8 subtitle">
                                <span> Selecciona la fecha de tu viaje</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row vacation-form-wrapper mt-3">
                        <div class="col-12 offset-md-3 col-md-6 ">
                            <form [formGroup]="clientDateForm">
                                <div class="form-row">
                                    <div class="col-12 form-group ">
                                        <label>
                                            Fecha de viaje deseada
                                        </label>
                                        <div class="input-box">
                                            <img src="../../../assets/img/calendar.png">
                                            <input class="form-control datePicker-box"
                                                placeholder="Check-in & Check-out" [(ngModel)]="vacationDate"
                                                bsDaterangepicker [minDate]="minDate" [maxDate]="maxDate"
                                                [bsConfig]="{dateInputFormat: 'MM/DD/YYYY'}"
                                                formControlName="date">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 offset-md-3 col-md-6 mt-4 text-right">
                            <button class="gt-btn gt-btn--secondary"
                            (click)="saveValues()"
                                [disabled]="clientDateForm.invalid">Siguiente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>