<section class="gt-section gt-section--full">
    <div class="categories">
        <div class="container-fluid categories-wrapper">
            <div class="side-bar-btn" (click)=toggleSideBar()>
                <img src="https://icon-library.net/images/navbar-icon/navbar-icon-2.jpg">
            </div>
            <div class="row categories-pipes">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="categories-sort-wrapper">
                        <img src="../../../../assets/img/filter.png">
                        <select [(ngModel)]="categorySort" class="form-control">
                            <option selected value=''> Filtrar por: </option>
                            <option value="1"> Nombre </option>
                            <option value="2"> Status </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class=" categories-pipe-wrapper">
                        <img src="../../../../assets/img/loupe.png">
                        <input class="form-control" placeholder="Nombre" [(ngModel)]="search"/>
                        <!-- <input class="form-control" placeholder="Nombre" [(ngModel)]="searchName"  /> -->
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class=" categories-add-btn">
                        <button class="btn gt-btn gt-btn--secondary" type="menu" (click)="openModal()">
                            Añadir +
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class=" gt-tag-table">
                        <span>
                            Categorías de Destinos
                        </span>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table categories-table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Status</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="category" *ngFor="let category of categories | filter: search">
                                        <th scope="row">{{category.data.name}}</th>
                                        <td>{{category.data.status?"Habilitado": "Deshabilitado"}}</td>
                                        <button class="btn gt-btn gt-btn--secondary" type="menu"
                                                (click)="openModal(category)">
                                                Editar
                                        </button>
                                    </tr>
                        <!-- cuando vayas a hacerlo con firebase descomenta lo de arriba 
                                    y donde estan los holi vas a colocar lo que le pasas (guiate de mi microproyecto)
                                cualquier cosa me preguntas  -->
                        <!-- <tr class="category">
                            <th scope="row">fsa</th>
                            <td>holi</td>
                            <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---edit" type="menu"
                                (click)="modifyInfo()">
                                Editar
                            </button>

                        </tr>
                        <tr class="category">
                            <th scope="row">fsa</th>
                            <td>holi</td>
                            <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---edit" type="menu"
                                (click)="modifyInfo()">
                                Editar
                            </button>
                        </tr> -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>


<!-- comienzo del modal -->
<section class="overlay-modal-wrapper" [ngClass]="{'show': modalStatus|async}">
    <div class="overlay-modal" [ngClass]="{'show': modalStatus|async}">
    </div>
    <div class="modal-wrapper" [ngClass]="{'show': modalStatus|async}">
        <div class="gt-admin-modal">
            <div class="row">
                <div class="col-12 title">
                    <h1>
                        Categoría
                    </h1>
                </div>
            </div>
            <div class="row form">
                <div class="col-12">
                    <form [formGroup]="categoryForm">
                        <div class="form-row">
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Nombre
                                </label>
                                <input [style.border-color]="colorBorde ? 'red' : '#393a39'" [(ngModel)]="inputTextfield" type="text" class="form-control" formControlName="name" id="textfield-validacion">
                            </div>
                            <div class="col-12 col-md-4 checkbox-wrapper">
                                <div class="col-12 col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="status">
                                        <label class="form-check-label" for="status">
                                            Habilitado
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <label for="image">Imagen</label>
                                <input type="file" class="form-control-file" formControlName="image">
                            </div>
                            <div class="col-12 buttons">
                                <button class="btn gt-btn gt-btn--secondary" type="submit"
                                    [disabled]="categoryForm.invalid" (click)="saveChanges()">
                                    Guardar
                                </button>
                                <button class="btn gt-btn gt-btn--secondary" type="button"
                                    (click)="toggleModalStatus()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>