<section class="gt-section gt-section--full">
    <div class="dashboard">
        <div class="container-fluid dashboard-wrapper">
            <div class="side-bar-btn" (click)=toggleSideBar()>
                <img src="https://icon-library.net/images/navbar-icon/navbar-icon-2.jpg">
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Ordenes totales:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Estado más visitado:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Hotel más visitado:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="row">
                        <div class="col-12 option-box-wrapper">
                            <div class="option-box">
                                <span class="title">
                                    Hoteles
                                </span>
                                <div class="underline">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 option-box-wrapper">
                            <div class="option-box">
                                <span class="title">
                                    Estados
                                </span>
                                <div class="underline">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 option-box-wrapper">
                    <div class="option-box">
                        <span class="title">
                            Reservas
                        </span>
                        <div class="underline">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>