<section class="gt-section gt-section--full">
    <div class="destinations">
        <div class="container-fluid destinations-wrapper">
            <div class="side-bar-btn" (click)=toggleSideBar()>
                <img src="https://icon-library.net/images/navbar-icon/navbar-icon-2.jpg">
            </div>
            <div class="row destinations-pipes">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="destinations-sort-wrapper">
                        <img src="../../../../assets/img/filter.png">
                        <select [(ngModel)]="destinationSort" class="form-control">
                            <option selected value=''> Filtrar por: </option>
                            <option value="1"> Categoría </option>
                            <option value="2"> Nombre </option>
                            <option value="3"> Estado </option>
                            <option value="4"> Ciudad </option>
                            <option value="5"> Status </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class=" destinations-pipe-wrapper">
                        <img src="../../../../assets/img/loupe.png">
                        <input class="form-control" placeholder="Nombre/Estado/Categoría/..." />
                        <!-- <input class="form-control" placeholder="Nombre/Estado/Categoría/..." [(ngModel)]="search"  /> -->
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class=" destinations-add-btn">
                        <button class="btn gt-btn gt-btn--secondary" type="menu" (click)="toggleModalStatus()">
                            Añadir +
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class=" gt-tag-table">
                        <span>
                            Destinos turísticos
                        </span>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table destinations-table">
                    <thead>
                        <tr>
                            <th scope="col">Categoría</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Status</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr class="destination" *ngFor="let destination of destinations">
                                            <th scope="row">holi</th>
                                            <td>holi</td>
                                            <td>holi</td>
                                            <td>holi</td>
                                            <td>holi</td>
                                            <button class="btn gt-btn gt-btn--secondary" type="menu"
                                                    (click)="modifyInfo()">
                                                    Editar
                                            </button>
                                        </tr> -->
                        <!-- cuando vayas a hacerlo con firebase descomenta lo de arriba 
                                        y donde estan los holi vas a colocar lo que le pasas (guiate de mi microproyecto)
                                    cualquier cosa me preguntas  -->
                        <tr class="destination">
                            <th scope="row">fsa</th>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---edit" type="menu"
                                (click)="modifyInfo()">
                                Editar
                            </button>

                        </tr>
                        <tr class="destination">
                            <th scope="row">fsa</th>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <td>holi</td>
                            <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---edit" type="menu"
                                (click)="modifyInfo()">
                                Editar
                            </button>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>


<!-- comienzo del modal -->
<section class="overlay-modal-wrapper" [ngClass]="{'show': modalStatus|async}">
    <div class="overlay-modal" [ngClass]="{'show': modalStatus|async}">
    </div>
    <div class="modal-wrapper" [ngClass]="{'show': modalStatus|async}">
        <div class="gt-admin-modal">
            <div class="row">
                <div class="col-12 title">
                    <h1>
                        Destino
                    </h1>
                </div>
            </div>
            <div class="row form form-box">
                <div class="col-12">
                    <form [formGroup]="destinationForm">
                        <div class="form-row">
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Nombre
                                </label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-7 col-md-4 form-group">
                                <label>
                                    Categoría
                                </label>
                                <select formControlName="category" class="form-control">
                                    <option selected value=''> Seleccione </option>
                                    <option *ngFor="let category of categories" [value]="category.value">
                                        {{category.viewValue}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-5 col-md-2 checkbox-wrapper">
                                <div class="col-12 col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="enabled">
                                        <label class="form-check-label" for="enabled">
                                            Habilitado
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Estado
                                </label>
                                <select formControlName="state" class="form-control">
                                    <option selected value=''> Seleccione </option>
                                    <option *ngFor="let state of states" [value]="state.value">
                                        {{state.viewValue}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Ciudad
                                </label>
                                <select formControlName="city" class="form-control">
                                    <option selected value=''> Seleccione </option>
                                    <option *ngFor="let city of cities" [value]="city.value">
                                        {{city.viewValue}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Latitud
                                </label>
                                <input type="text" class="form-control" formControlName="lat">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Longitud
                                </label>
                                <input type="text" class="form-control" formControlName="lon">
                            </div>
                            <div class="col-12 form-group">
                                <label for="description">Descripción</label>
                                <textarea class="form-control" formControlName="description" rows="4"></textarea>
                            </div>
                            <div class="col-12 form-group">
                                <label for="address">Dirección</label>
                                <textarea class="form-control" formControlName="address" rows="2"></textarea>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Actividades: <br>
                                </label>
                                <div class="multiadd-box">
                                    <span *ngFor='let activity of activities'>
                                        {{activity}} <br>
                                    </span>
                                </div>
                                <div class="input-box">
                                    <input type="text" class="form-control input-bar" formControlName="activity">
                                    <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---add"
                                        (click)="addActivity()"> + </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>
                                    Servicios: <br>
                                </label>
                                <div class="multiadd-box">
                                    <span *ngFor='let service of services'>
                                        {{service}} <br>
                                    </span>
                                </div>
                                <div class="input-box">
                                    <input type="text" class="form-control input-bar" formControlName="service">
                                    <button class="btn gt-btn gt-btn--secondary gt-btn--secondary---add"
                                        (click)="addService()"> + </button>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <label for="image">Imagen</label>
                                <input type="file" class="form-control-file" formControlName="image">
                            </div>
                            <div class="col-12 buttons">
                                <button class="btn gt-btn gt-btn--secondary " type="submit"
                                    [disabled]="destinationForm.invalid" (click)="saveChanges()">
                                    Guardar
                                </button>
                                <button class="btn gt-btn gt-btn--secondary" type="button"
                                    (click)="toggleModalStatus()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>